// Descriptive Colors
$yellow			:	#F7EF77;
$yellow2		:	#F0DC82;
$yellow3		:	#DAA520;

// Functional Colors
$color-prim		:	$yellow;

// Media Queries BreakPoints

$brk-small		:	500px;
$brk-narrow		:	815px;
$brk-wide		:	1024px;
$brk-u-wide		:	1200px;