.about {
	text-align: center;
	margin: 50px auto;

	@extend %clearfix;

	@media #{$brk-wide} {
		margin: 50px;
	}

	& h1 {
		font-size: 30px;
		margin-bottom: 20px;
		@media #{$brk-wide} {
			text-align: left;
		}
	}

	& img {
		width: 150px;
		height: 150px;
		border-radius: 150px;
		text-align: center;

		@media #{$brk-wide} {
			content: url("../img/perfil2.jpg");
			width: 45%;
			border-radius: 0;
			height: auto;
			float: left;
		}
	}

	& .desc {
		@media #{$brk-wide} {
			width: 45%;
			float: right;
		}

		& p {
			margin: 0;
		}

		& p:last-child {
			display: none;
			margin-top: 16px;
			@media #{$brk-wide} {
				display: block;
			}
		}
	}

}