footer {
	text-align: center;
	padding: 8px 0 10px 0;
	background: $yellow;

	@extend %clearfix;

	h1 {
		margin: 10px auto;
	}

	& .social {

		@media screen and ( min-width: $brk-wide) {
			float: right;
			margin-top: -15px;
			margin-right: 200px;
		}

		& li {
			display: inline;
			margin: 20px;
		}

	}

	& .phone {
		margin: 15px 0;

		@extend %clearfix;

		@media screen and ( min-width: $brk-wide) {
			margin-bottom: 0;
		}

		& li {
			margin: 20px;
			@media screen and ( min-width: $brk-wide) {
				display: inline;
			}
		}
	}

	h5 {
		float: center;
	}
}