header {
    width: 100%;
    background: $color-prim;
    text-align: center;
}

#logo {
	height: 80px;
	
}

.section1  {
	margin: 10px;
	& h1 {
		display: none;
	}
}

.section2 {
	width: 100%;
	/*margin: 10px;*/
	& h1 {
		display: none;
	}
}

menu {
	& ul {
	    width: 100%;
	    display: table;
	    table-layout: fixed;
	}
	& ul li {
	    display: table-cell;
	}
	& ul li a {
	    display: block;
	    padding: 10px 0 10px 0;
	    font-weight: bold;
    	&:hover {
			background: black;
			color: $yellow;
		}
	}
}


