header {
    width: 100%;
    background: $color-prim;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 3;

    @media #{$brk-u-wide} {
        height: 90px;
    }

	& .logo {
        margin: 1% auto;
		height: 40px;
		width: 55px;
		background-image: url("../img/logo-transparente-40.png");
        background-repeat: no-repeat;

		@media #{$brk-narrow} {
			height: 80px;
			width: 110px;
            margin: 0 20px;
            float: left;
			background-image: url("../img/logo-transparente-80.png");
            background-repeat: no-repeat;
		}

		@media #{$brk-u-wide} {
			margin: .3% 20px;
		}
		
	}

    & .section1  {
        margin: 5px  2%;

        @media #{$brk-narrow} {
            display: block;
            float: left;
            margin: 10px 1%;
        }

        & h1 {
            margin-top: 0;
            font-size: 25px;

            @media #{$brk-narrow} {
                display: block;
            }
        }

        & h3 {
            font-size: 15px;
        }

        & h6 {
            display: none;

            @media #{$brk-narrow} {
                display: block;
                margin: 0;
            }
        }

        @media #{$brk-u-wide} {
            margin: 1.1% 1%;
        }
    }

    & .section2 {
        display: none;

        @media #{$brk-narrow} {
            display: block;
            float: right;
            margin: 10px 1%;
        }

        @media #{$brk-wide} {
            margin-right: 80px;
        }

        @media #{$brk-u-wide} {
            float: none;
            display: inline-block;
            margin: 1.1% 1%;
        }
    }

    & menu {
        height: 50px;

        ul {
            width: 100%;
            height: 100%;
            display: table;
            table-layout: fixed;

            & li {
                display: table-cell;
                width: 100%;
                height: 100%;

                & a {
                    display: block;
                    height: 100%;
                    padding-top: 15px;
                    font-weight: bold;
                    background: $color-prim;

                    @media #{$brk-u-wide} {
                        padding-top: 35px;
                    }                    

                    &:hover {
                        background: black;
                        color: $color-prim;
                    }
                }
            }
        }

        @media #{$brk-u-wide} {
            width: 35%;
            height: 100%;
            float: right;
        }
    }
}

