header {
    width: 100%;
    background: $color-prim;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1;

	@media #{$brk-u-wide} {
		height: 80px;
	}

    @extend %clearfix;
}

#logo {
	height: 80px;

	@media #{$brk-narrow} {
		float: left;
	}
	
}

.section1  {
	margin: 10px;

	@media #{$brk-narrow} {
		float: left;
		margin-top: 0;
		margin-left: 50px;
		padding-top: 10px;
	}

	& h1 {
		display: none;
		font-size: 30px;

		@media #{$brk-narrow} {
			display: block;
		}
	}
}

.section2 {

	@media #{$brk-narrow} {
		margin-top: 0;
		padding-top: 10px;
		margin-left: 50px;
	}

	@media #{$brk-u-wide} {
		float: left;
	}

	& h1 {
		display: none;
		font-size: 30px;

		@media #{$brk-narrow} {
			display: block;
		}

	}
}

menu {

	@media #{$brk-u-wide} {
		float: right;
		width: 400px;
		height: 100%;
	}

	& ul {
	    width: 100%;
	    display: table;
	    table-layout: fixed;

    	@media #{$brk-u-wide} {
			height: 100%;
		}
	}
	& ul li {
	    display: table-cell;

	    @media #{$brk-u-wide} {
			height: 100%;
		}
	}
	& ul li a {
	    display: block;
	    padding: 10px 0 10px 0;
	    font-weight: bold;
    	&:hover {
			background: black;
			color: $yellow;
		}

		@media #{$brk-u-wide} {
			padding-top: 30px;
			height: 100%;
		}
	}

	@extend %clearfix;
}

.fix-header {

	@media #{$brk-wide} {
		height: 40px;
	}	

	#logo {
		height: 40px;
		float: left;
	}

	& .section1 {
		display: none;
		@media #{$brk-u-wide} {
			display: block;

			& h1 {
				display: none;
			}
		}
	}

	& .section2 {
		display: none;
		@media #{$brk-u-wide} {
			display: block;

			& h1 {
				display: none;
			}
		}
	}

	menu {
		width: 90%;
		float: right;

		@media #{$brk-u-wide} {
			width: 40%;
		}

		& ul li a {
			padding-top: 12px;
		}
	}
}


