.section2 {
/*	display: none;
	background: $color-prim;
	padding-top: 10px;

	@media #{$brk-wide} {
		display: block;
		height: 80px;
		width: 50%;
		float: left;
	}

	& h1, h3 {
		font-size: 30px;

		@media #{$brk-narrow} {
			display: block;
		}

	}

	& h3 {
		font-size: 15px;
	}*/
}


menu {
/*	background: $color-prim;
	position: absolute;
	bottom: 0;
	height: 100px;
	z-index: 2;

	@media #{$brk-narrow} {
		position: static;
		bottom: none;
		float: right;
		height: 100%;
	}

	@media #{$brk-wide} {
		width: 50%;
	}

	& ul {
	    width: 100%;
	    height: 100%;
	    display: table;
	    table-layout: fixed;
	}

	& ul li {
	    display: table-cell;
	    height: 100%;
	}

	& ul li a {
	    display: block;
	    height: 100%;
	    padding-top: 40px;
	    font-weight: bold;
    	&:hover {
			background: black;
			color: $color-prim;
		}

		@media #{$brk-narrow} {
			padding-top: 30px;
			height: 100%;
		}
	}*/
}
