.place {
	width: 90%;
	text-align: center;
	margin: 200px auto 50px;

	@extend %clearfix;

	& h1 {
		margin-bottom: 20px;
		@media screen and ( min-width: $brk-wide) {
			text-align: left;
		}
	}

	& iframe {
		width: 100%;
		height: 250px;
		margin-top: 20px;

		@media screen and ( min-width: $brk-wide) {
			width: 45%;
			height: 350px;
			float: right;
			margin-left: 50px;
		}
	}

	.place-desc {

		@media screen and ( min-width: $brk-wide) {
			& h1 {
				text-align: left;
			}

			& p {
				margin-top: 50px;
			}
		}
		
		@media screen and ( min-width: $brk-wide) {
			width: 45%;
			float: left;
		}

		& p:last-child {
			display: none;
			margin-top: 16px;
			@media screen and ( min-width: $brk-wide) {
				display: block;
			}
		}

	}
}