.scroll-header {
	@media #{$brk-narrow} {
			float: left;
			height: 40px;
		#logo {
			height: 40px;
			width: 55px;
			background-image: url("../img/logo-transparente-40.png");
		}	

		.section1 {
			margin: 5px 10px;

			& h1 {
				display: none;
			}
		}
	}
}