.scroll-header {

	#logo {
	margin-left: 0;
	height: 40px;
	width: 55px;
	background-image: url("../img/logo-transparente-40.png");
	}

	@media #{$brk-wide} {
		height: 40px;
	}	

	& .section1 {
		display: none;
		@media #{$brk-u-wide} {
			display: block;

			& h1 {
				display: none;
			}
		}
	}

	& .section2 {
		display: none;
		@media #{$brk-u-wide} {
			display: block;

			& h1 {
				display: none;
			}
		}
	}

	menu {
		width: 84%;
		float: right;

		@media #{$brk-u-wide} {
			width: 40%;
		}

		& ul li a {
			padding-top: 12px;
		}
	}
}