.scroll-header {

	float: left;
	height: 40px;

	@media #{$brk-narrow} {
		#logo {
			height: 40px;
			width: 55px;
			background-image: url("../img/logo-transparente-40.png");
		}	

		.section1 {
			margin: 10px;

			& h1 {
				display: none;
			}
		}
	}
}