.why {
	margin: 50px 0 50px 0;
	text-align: center;
	& h1 {
		margin-bottom: 20px;
	}
	& .container {
		width: 100%;
		@extend %clearfix;
		& div {
			width: 150px;
			margin: 20px 10px 20px 10px;
			display: inline-block;
			text-align: center;
			p {
				margin: 0;
			}
			&:before {
				content: counter(counter)" ";
				counter-increment: counter;
				font-weight: bold;
				background-color: grey;
				color: white;
				border-radius: 20px;
				display: table-cell;
				width: 40px;
				height: 40px;
				padding-top: 12px;
				box-sizing: border-box;
				float: left;
			}
		}
	}
}